.half {
  transform-origin: center;
  transition: transform 2s cubic-bezier(0.4, 0, 0.2, 1), opacity 1.5s ease-in-out;
  filter: drop-shadow(0 6px 15px rgba(0,0,0,0.4));
  opacity: 1;
}

.open .half {
  opacity: 0.9;
}

.open .left {
  transform: rotateY(-150deg);
}

.open .right {
  transform: rotateY(150deg);
}

/* Bentuk hati diperhalus dengan path SVG baru */
.left {
  fill: url(#gradLeft);
}

.right {
  fill: url(#gradRight);
}

/* Menghilangkan tulisan */
.message {
  display: none !important;
}
